/*body {
    background-image: url(wallpapers-for-beer-background.jpg);
    background-position: center;
}*/

#barDiv {
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
}

.ui.grid {
    text-align: center;
}

.active {
    height: 200px;
    width: 200px;
    top: 5px;
    left: 20px;
    position: fixed;
}

.inactive {
    display: none;
}

.description {
    display: block;
    top: 100px;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
}

#breweryDetails {
    position: absolute;
    bottom: 20%;
    padding: 20px;
}

#celled {
    position: absolute;
    top: 65%;
    left: 50%;
    margin: auto;
}

.ui.image {
    position: static;
}
